.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;

    > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        object-fit: cover;
    }
}
