html {
    height: fill-available;
}

body,
main {
    display: flex;
    justify-content: center;
}

body {
    min-width: $body-min-width;
    max-width: $body-max-width;
    margin: 0 auto;
    letter-spacing: rem(1px);
    text-size-adjust: 100%;
    text-transform: uppercase;

    &.covers-fullvh.cover-fullvh {
        @media (min-height: rem(1080px)) {
            height: 100%;
            align-items: center;
        }
    }

    &.bg-light {
        color: $primary;
        background-color: $secondary;
    }
}

main {
    .covers-fullvh.cover-fullvh > & {
        height: var(--vh);
    }

    body > & {
        flex-shrink: 0;
        flex-basis: 100%;
    }
}

ol,
ul {
    &[class] {
        margin-bottom: 0;
        padding-left: 0;

        li {
            list-style: none;
        }
    }
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    transition: $transition-base;
    transition-property: text-decoration-color, color, outline;

    &:focus {
        outline: rem(2px) solid currentColor;
        outline-offset: rem(4px);

        .using-mouse & {
            outline: none;
        }
    }

    &.stretched-link {
        .bg-light & {
            color: $primary;
        }
    }
}
