main {
    padding: $main-p;

    @media (max-width: $body-min-width - rem(0.02px)) {
        padding: $main-p-min;
    }

    @include respond-above(md) {
        padding: $main-p-max;
    }

    @media (min-height: rem(800px)) {
        @include respond-above(md) {
            padding: $main-md-p;
        }

        @include respond-above(xxl) {
            padding: $main-md-p-max;
        }
    }

    .page-template-front-page & {
        padding: $fp-main-p;

        @media (max-width: $body-min-width - rem(0.02px)) {
            padding: $fp-main-p-min;
        }

        @include respond-above(md) {
            padding: $fp-main-p-max;
        }

        @media (min-height: rem(800px)) {
            @include respond-above(md) {
                padding: $main-md-p;
            }

            @include respond-above(xxl) {
                padding: $main-md-p-max;
            }
        }
    }

    .single-music & {
        padding-top: $ms-main-py;
        padding-bottom: $ms-main-py;

        @media (min-height: rem(800px)) {
            @include respond-above(md) {
                padding-top: $ms-main-md-py;
                padding-bottom: $ms-main-md-py;
            }
        }
    }
}

.container,
.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: rem(1440px);

    &--align-center {
        align-content: center;
    }

    main > & {
        flex-shrink: 0;
        flex-basis: 100%;
    }
}

.row {
    flex-shrink: 0;
    width: 100%;

    &--space-center {
        justify-content: center;

        @include respond-above(lg) {
            justify-content: space-between;
        }
    }

    &--align-start {
        align-items: flex-start;
    }

    &--align-center {
        align-items: center;
    }

    &--lg-align-center {
        @include respond-above(lg) {
            align-items: center;
        }
    }

    &--lg-direction-reverse {
        @include respond-above(lg) {
            flex-direction: row-reverse;
        }
    }

    .container--rows-gap > & {
        margin-bottom: $c-row-gap;

        &:last-child {
            margin-bottom: 0;
        }
    }

    > * {
        flex-grow: 1;
        width: 100%;
    }
}

.fp-content {
    display: grid;
    grid-template-rows: $fp-c-row-outer-height auto $fp-c-row-outer-height;
    align-content: center;
    height: calc(#{$fp-c-row-mid-height});

    @media (max-width: $body-min-width - rem(0.02px)) {
        height: calc(#{$fp-c-row-mid-height-min});
    }

    @include respond-above(md) {
        height: calc(#{$fp-c-row-mid-height-max});
    }

    @media (min-height: rem(800px)) {
        @include respond-above(md) {
            height: calc(#{$fp-c-row-mid-md-height});
        }

        @include respond-above(xxl) {
            height: calc(#{$fp-c-row-mid-md-height-max});
        }
    }

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    > .title {
        grid-row: 1;

        &.is-visible {
            grid-row: 2;
        }
    }

    > .media {
        grid-row: 2;
    }

    > .form {
        grid-row: 3;
    }
}

.box {
    flex-grow: 0;

    @include respond-below(lg) {
        max-width: rem(360px);
        margin-bottom: rem(50px);

        @include respond-above(md) {
            max-width: rem(432px);
        }

        &:last-child,
        .row--box-gap-compact > &:last-child {
            margin-bottom: 0;
        }

        .row--box-gap-compact > & {
            margin-bottom: rem(40px);
        }
    }

    $selectors: "&--lg-", ".row--box-gap-compact &--lg-";

    @each $selector in $selectors {
        $margin-lg: rem(40px);
        $margin-xl: rem(60px);

        @if $selector != "&--lg-" {
            $margin-lg: rem(25px);
            $margin-xl: rem(40px);
        }

        $box-widths: 4, 5, 7;

        @each $box-width in $box-widths {
            #{$selector}#{$box-width} {
                $width: $box-width / 12 * 100%;

                @include respond-above(lg) {
                    width: calc(#{$width} - #{$margin-lg});
                }

                @include respond-above(xl) {
                    width: calc(#{$width} - #{$margin-xl});
                }
            }
        }
    }
}

.ms-artwork {
    position: sticky;
    top: $ms-main-py;
    z-index: 0;

    @media (min-height: rem(800px)) {
        @include respond-above(md) {
            top: $ms-main-md-py;
        }
    }
}

.ms-stream {
    position: relative;
    z-index: 1;

    @include only-ios {
        transform: translate3d(0, 0, 0);
    }
}
