main {
    padding: $main-p;

    @media (max-width: $body-min-width - rem(0.02px)) {
        padding: $main-p-min;
    }

    @include respond-above(md) {
        padding: $main-p-max;
    }

    @media (min-height: rem(800px)) {
        @include respond-above(md) {
            padding: $main-md-p;
        }

        @include respond-above(xxl) {
            padding: $main-md-p-max;
        }
    }

    .page-template-front-page & {
        padding: $fp-main-p;

        @media (max-width: $body-min-width - rem(0.02px)) {
            padding: $fp-main-p-min;
        }

        @include respond-above(md) {
            padding: $fp-main-p-max;
        }

        @media (min-height: rem(800px)) {
            @include respond-above(md) {
                padding: $main-md-p;
            }

            @include respond-above(xxl) {
                padding: $main-md-p-max;
            }
        }
    }

    .single-music & {
        padding-top: $ms-main-py;
        padding-bottom: $ms-main-py;

        @media (min-height: rem(800px)) {
            @include respond-above(md) {
                padding-top: $ms-main-md-py;
                padding-bottom: $ms-main-md-py;
            }
        }
    }
}

.container,
.row {
    display: flex;
    flex-wrap: wrap;
}

.container {
    @include respond-above(lg) {
        max-width: rem(1440px);
    }

    &--align-center {
        align-content: center;
    }

    &--below-wide-max-width {
        @include respond-below(lg) {
            max-width: rem(360px);

            @include respond-above(md) {
                max-width: rem(432px);
            }
        }
    }

    main > & {
        flex-shrink: 0;
        flex-basis: 100%;
    }
}

.row {
    flex-shrink: 0;
    width: 100%;

    @include respond-above(lg) {
        width: calc(100% + (2 * #{$box-margin-lg}));
        margin-left: -1 * $box-margin-lg;
        margin-right: -1 * $box-margin-lg;
    }

    @include respond-above(xl) {
        width: calc(100% + (2 * #{$box-margin-xl}));
        margin-left: -1 * $box-margin-xl;
        margin-right: -1 * $box-margin-xl;
    }

    &--below-wide-justify-center {
        @include respond-below(lg) {
            justify-content: center;
        }
    }

    &--align-start {
        align-items: flex-start;
    }

    &--direction-reverse {
        flex-direction: row-reverse;
    }

    &--wide-direction-reverse {
        @include respond-above(lg) {
            flex-direction: row-reverse;
        }
    }

    &--box-gap-compact {
        @include respond-above(lg) {
            width: calc(100% + (2 * #{$box-margin-lg-cozy}));
            margin-left: -1 * $box-margin-lg-cozy;
            margin-right: -1 * $box-margin-lg-cozy;
        }

        @include respond-above(xl) {
            width: calc(100% + (2 * #{$box-margin-xl-cozy}));
            margin-left: -1 * $box-margin-xl-cozy;
            margin-right: -1 * $box-margin-xl-cozy;
        }
    }

    &--no-box-gap {
        @include respond-above(lg) {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .container--rows-gap > & {
        margin-bottom: $c-row-gap;

        &:last-child {
            margin-bottom: 0;
        }
    }

    > * {
        flex-grow: 1;
        width: 100%;
    }
}

.fp-content {
    display: grid;
    grid-template-rows: $fp-c-row-outer-height auto $fp-c-row-outer-height;
    align-content: center;
    height: calc(#{$fp-c-row-mid-height});

    @media (max-width: $body-min-width - rem(0.02px)) {
        height: calc(#{$fp-c-row-mid-height-min});
    }

    @include respond-above(md) {
        height: calc(#{$fp-c-row-mid-height-max});
    }

    @media (min-height: rem(800px)) {
        @include respond-above(md) {
            height: calc(#{$fp-c-row-mid-md-height});
        }

        @include respond-above(xxl) {
            height: calc(#{$fp-c-row-mid-md-height-max});
        }
    }

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    > .title {
        grid-row: 1;

        &.is-visible {
            grid-row: 2;
        }
    }

    > .media {
        grid-row: 2;
    }

    > .form {
        grid-row: 3;
    }
}

.box {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: $box-margin;

    &:last-child {
        margin-bottom: 0;
    }

    .row--box-gap-compact > & {
        margin-bottom: $box-margin-cozy;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .row--no-box-gap > & {
        margin-bottom: 0;

        @include respond-above(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &[class*=--wide] {
        @include respond-above(lg) {
            margin-bottom: 0;
            padding-left: $box-margin-lg;
            padding-right: $box-margin-lg;
        }

        @include respond-above(xl) {
            padding-left: $box-margin-xl;
            padding-right: $box-margin-xl;
        }

        .row--box-gap-compact > & {
            @include respond-above(lg) {
                padding-left: $box-margin-lg-cozy;
                padding-right: $box-margin-lg-cozy;
            }

            @include respond-above(xl) {
                padding-left: $box-margin-xl-cozy;
                padding-right: $box-margin-xl-cozy;
            }
        }
    }

    $box-widths: 4, 5, 7;

    @each $box-width in $box-widths {
        &--wide-#{$box-width} {
            @include respond-above(lg) {
                width: $box-width / 12 * 100%;
            }
        }
    }
}

.ms-artwork {
    position: sticky;
    top: $ms-main-py;
    z-index: 0;

    @media (min-height: rem(800px)) {
        @include respond-above(md) {
            top: $ms-main-md-py;
        }
    }
}

.ms-stream {
    position: relative;
    z-index: 1;

    @include only-ios {
        transform: translate3d(0, 0, 0);
    }
}
