img {
    max-width: 100%;
    height: auto;
}

video {
    .media:not([style*="--aspect-ratio"]) > & {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.media {
    &--filter {
        position: relative;
        transition: filter 1s ease-out;

        &:hover,
        &:focus,
        &:focus-within {
            filter: none;
        }

        &-grayscale {
            filter: grayscale(1);
        }
    }

    &--underlay {
        background-color: #333029;
    }

    .fp-content > & {
        max-height: 100%;
        width: 100%;
    }

    .social > & {
        width: 100%;
    }
}
