.social {
    &s {
        display: flex;
        justify-content: center;
    }

    margin-right: 5vw;
    text-align: center;
    word-break: break-all;

    @media (max-width: $body-min-width - rem(0.02px)) {
        margin-right: rem(16px);
    }

    @include respond-above(xl) {
        margin-right: 3.25vw;
    }

    @include respond-above(xxl) {
        margin-right: rem(46px);
    }

    &:last-child {
        margin-right: 0;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__logo {
        width: 15vw;

        @media (max-width: $body-min-width - rem(0.02px)) {
            width: rem(48px);
        }

        @include respond-above(md) {
            width: 10vw;
        }

        @include respond-above(xl) {
            width: 7.5vw;
        }

        @include respond-above(xxl) {
            width: rem(108px);
        }
    }
}
