.streaming {
    background-color: rgba(51, 48, 41, 0.85);

    @include respond-above(lg) {
        background-color: rgba(51, 48, 41, 0.5);
    }

    &__top {
        padding: rem(24px) rem(32px);

        @include respond-above(md) {
            padding: rem(32px) rem(40px);
        }

        @include respond-above(xl) {
            padding: rem(40px) rem(50px);
        }
    }

    &__logo {
        max-width: rem(192px);
        margin-left: auto;
        margin-right: auto;

        @include respond-above(md) {
            max-width: rem(240px);
        }

        @include respond-above(xl) {
            max-width: rem(280px);
        }
    }
}

.stream {
    height: rem(72px);
    text-align: center;
    background-color: $secondary;
    box-shadow: inset 0 rem(-2px) rem(8px) 0 rgba(0, 0, 0, 0.06);;

    @media (min-height: rem(800px)) {
        @include respond-above(md) {
            height: rem(96px);
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: rem(8px) rem(16px);
        color: $primary;
        background-color: transparent;
        transition: background-color $transition-base;

        &:hover {
            color: $primary;
        }

        @at-root .stream:hover a.stream__item {
            background-color: $gray-200;
        }
    }

    &__logo {
        > img {
            max-width: rem(180px);
            max-height: rem(30px);

            @media (min-height: rem(800px)) {
                @include respond-above(md) {
                    max-width: rem(240px);
                    max-height: rem(40px);
                }
            }
        }
    }
}
