@font-face {
    src: local("Rockwell"),
         url("../fonts/rockwell/rockwell-regular.ttf") format("truetype");
    font-family: "Rockwell";
    font-display: swap;
    font-style: normal;
    font-weight: $font-weight-base;
}

h1 {
    font-size: rem(32px);
}

.title {
    &--margin {
        margin-bottom: rem(40px);

        @include respond-above(md) {
            margin-bottom: rem(60px);
        }
    }
}

.text {
    &--center {
        text-align: center;
    }

    &--flashy {
        animation: color-change 2s infinite;
    }
}

@keyframes color-change {
    0% {
        color: $secondary;
    }

    50% {
        color: red;
    }
}
