@font-face {
    src: local("Rockwell"),
         url("../fonts/rockwell/rockwell-regular.ttf") format("truetype");
    font-family: "Rockwell";
    font-display: swap;
    font-style: normal;
    font-weight: $font-weight-base;
}

.section-title {
    &--margin {
        margin-bottom: rem(40px);

        @include respond-above(md) {
            margin-bottom: rem(60px);
        }
    }
}

.text {
    &--center {
        text-align: center;
    }

    &--flashy {
        animation: color-change 2s infinite;
    }
}

.has-fallback-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes color-change {
    0% {
        color: $secondary;
    }

    50% {
        color: red;
    }
}
