.x-scroller {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #F5F5F5;

        &-track {
            background-color: #F5F5F5;
            border-radius: 100px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &-thumb {
            background-color: #BFBFBF;
            border-radius: 100px;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
        }
    }

    &.row {
        &:not(.x-scroller--wide) {
            flex-wrap: nowrap;
        }

        &.x-scroller--wide {
            @include respond-above(lg) {
                flex-wrap: nowrap;
            }
        }
    }
}
