// Aspect ratio box
@mixin aspect-ratio() {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    > :first-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    > video,
    > img {
        object-fit: contain;
    }

    > img {
        height: auto;
    }
}
