// Body
$body-min-width: rem(320px);
$body-max-width: rem(1920px);


// Main
$main-p-min: rem(32px);
$main-p: 10vw;
$main-p-max: rem(76px);

$main-md-p: 7.5vw;
$main-md-p-max: rem(108px);

// Main - Front page
$fp-main-p-min: rem(16px);
$fp-main-p: 5vw;
$fp-main-p-max: rem(38px);

// Main - Music - single
$ms-main-py: rem(32px);

$ms-main-md-py: rem(50px);


// Container
$c-row-gap: rem(40px);

// Container - Front page
$fp-c-row-outer-height: rem(24px);

$fp-c-row-mid-height-min: var(--vh) - (#{$fp-main-p-min} * 2) - (#{$fp-c-row-outer-height} * 2) - (#{$c-row-gap} * 2);
$fp-c-row-mid-height:     var(--vh) - (#{$fp-main-p} * 2) - (#{$fp-c-row-outer-height} * 2) - (#{$c-row-gap} * 2);
$fp-c-row-mid-height-max: var(--vh) - (#{$fp-main-p-max} * 2) - (#{$fp-c-row-outer-height} * 2) - (#{$c-row-gap} * 2);

$fp-c-row-mid-md-height:     var(--vh) - (#{$main-md-p} * 2) - (#{$fp-c-row-outer-height} * 2) - (#{$c-row-gap} * 2);
$fp-c-row-mid-md-height-max: var(--vh) - (#{$main-md-p-max} * 2) - (#{$fp-c-row-outer-height} * 2) - (#{$c-row-gap} * 2);


// Variable export to JavaScript
:export {
    fpCRowOuterHeight: $fp-c-row-outer-height;
}
